.special-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.special-li {
  float: left;
}

.special-li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
