/* [1] The container */

.image-pulse {
    animation: pulse 1s linear infinite;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.img-hover-zoom {
    position: center;
    max-height: 300px;
    /* [1.1] Set it as per your need */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}


/* [2] Transition property for smooth transformation of images */

.img-hover-zoom img {
    transition: transform 0.4s ease;
}


/* [3] Finally, transforming the image when container gets hovered */

.img-hover-zoom:hover img {
    transform: scale(1.15);
}


/* button hover divider feature CSS*/

.hide {
    opacity: 0;
}

#button3,
#button2 {
    -webkit-transition: -webkit-transform 1s;
    /* Safari */
    transition: transform 1s;
}

#button1 {
    z-index: 10;
    -webkit-transition: opacity 1s;
    /* Safari */
    transition: opacity 1s;
}

.animateToRight {
    -webkit-transform: translate(90px);
    /* Safari */
    transform: translate(90px);
}

.animateToLeft {
    -webkit-transform: translate(-90px);
    /* Safari */
    transform: translate(-90px);
}

.blobs-button {
    background-color: whitesmoke;
    border: solid;
    border-radius: 30px 30px 30px 30px;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    font-family: "Roboto", Sans-serif;
    height: 60px;
}

.blobs {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 360px;
    height: 150px;
    margin: auto;
}

.blobs:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

.download-resume {
    font-family: "Roboto", Sans-serif;
    background-color: #ff000a;
    border-radius: 30px 30px 30px 30px;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    display: block;
    margin: auto;
    max-width: 200px;
}

i {
    color: red;
    font-size: 1.9em;
}


/* End button hover divider feature CSS*/


/* Image Rounded CSS*/

.my-rounded-img {
    border-radius: 50%;
}

#circle-contact-icon {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 2px #888;
    padding: 0.2em 0.3em;
}


/* End Image Rounded CSS*/

.personal-paragraph {
    font-family: "Poppins", sans-serif;
    color: #506172;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: justify;
    text-justify: inter-word;
}

.btn-space {
    margin-right: 20px;
    font-size: 16px;
    font-family: "Roboto", Sans-serif;
    color: black;
    padding: 5px 14px;
}


/* Spcial ordered list CSS */

.special-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.special-li {
    float: left;
}

.special-li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}


/* end special ui and ol */


/* experience modal */

.paragraph-experience {
    font-family: "Poppins", sans-serif;
    color: #506172;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    overflow-wrap: break-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* end image modal */


/* Load More */

.col-md-6 {
    display: none;
}

.load-more {
    background-color: #000;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
    margin: 50px 0;
    display: inline-block;
}

.load-more:hover {
    background-color: blue;
    text-decoration: none;
}


/* end Load More */

.digital-Marketing-tag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #222222;
}

.name-title-tag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 80px;
    color: #222222;
}

.digital-Marketing-paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}

.project-counter {
    background: #FFFFFF;
    border: 1px solid rgba(216, 174, 107, 0.2);
}

.project-counter-numbers {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.project-counter-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #818181;
}

.about-me {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.about-me-paragraph {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 170%;
    color: #494949;
}

.skill-section {
    background: #FFFFFF;
    max-height: 920px;
}

.skill-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.background1 {
    background-color: #FFFAEF;
}

.skill-box {
    width: 1320px;
    height: 490px;
    background: #FFFAEF;
    border: 1px solid #DECFAE;
    box-sizing: border-box;
}

.skill-panel {
    width: 1320px;
    height: 70px;
    border: 1px solid #DECFAE;
    box-sizing: border-box;
}

.nav-item {
    width: 160px !important;
    height: 70px !important;
    background: #FFFFFF !important;
    border: 1px solid #DECFAE !important;
    box-sizing: border-box !important;
}

.nav-link {
    width: 160px !important;
    height: 70px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    background: #FFFAEF !important;
    color: #222222 !important;
    text-align: center !important;
    align-content: center !important;
    padding: 1.2rem 1rem !important;
}

.nav-link:hover {
    background: #FFFFFF !important;
}

.skill-image {
    width: 292px;
    height: 180px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

.skill-tab-title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    color: #222222;
}


/* override Css bootstrap */


/* end overrisde Css */