/* [1] The container */

.image-pulse {
    animation: pulse 1s linear infinite;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.img-hover-zoom {
    position: center;
    max-height: 300px;
    /* [1.1] Set it as per your need */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}


/* [2] Transition property for smooth transformation of images */

.img-hover-zoom img {
    transition: transform 0.4s ease;
}


/* [3] Finally, transforming the image when container gets hovered */

.img-hover-zoom:hover img {
    transform: scale(1.15);
}


/* button hover divider feature CSS*/

.hide {
    opacity: 0;
}

#button3,
#button2 {
    -webkit-transition: -webkit-transform 1s;
    /* Safari */
    transition: transform 1s;
}

#button1 {
    z-index: 10;
    -webkit-transition: opacity 1s;
    /* Safari */
    transition: opacity 1s;
}

.animateToRight {
    -webkit-transform: translate(90px);
    /* Safari */
    transform: translate(90px);
}

.animateToLeft {
    -webkit-transform: translate(-90px);
    /* Safari */
    transform: translate(-90px);
}

.blobs-button {
    background-color: whitesmoke;
    border: solid;
    border-radius: 30px 30px 30px 30px;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    font-family: "Roboto", Sans-serif;
    height: 60px;
}

.blobs {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 360px;
    height: 150px;
    margin: auto;
}

.blobs:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

.download-resume {
    font-family: "Roboto", Sans-serif;
    background-color: #ff000a;
    border-radius: 30px 30px 30px 30px;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    display: block;
    margin: auto;
    max-width: 200px;
}

i {
    color: red;
    font-size: 1.9em;
}


/* End button hover divider feature CSS*/


/* Image Rounded CSS*/

.my-rounded-img {
    border-radius: 50%;
}


/* End Image Rounded CSS*/

.personal-paragraph {
    font-family: "Poppins", sans-serif;
    color: #506172;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: justify;
    text-justify: inter-word;
}

.btn-space {
    margin-right: 20px;
    font-size: 16px;
    font-family: "Roboto", Sans-serif;
    color: black;
    padding: 5px 14px;
}


/* Spcial ordered list CSS */

.special-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.special-li {
    float: left;
}

.special-li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}


/* end special ui and ol */


/* Load More */

.col-md-6 {
    display: none;
}

.load-more {
    background-color: #000;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
    margin: 50px 0;
    display: inline-block;
}

.load-more:hover {
    background-color: blue;
    text-decoration: none;
}


/* end Load More */

.digital-Marketing-tag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #222222;
}

.name-title-tag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 80px;
    color: #222222;
}

.digital-Marketing-paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}

.project-counter {
    background: #FFFFFF;
    border: 1px solid rgba(216, 174, 107, 0.2);
}

.project-counter-numbers {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.project-counter-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #818181;
}

.about-me {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.about-me-paragraph {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 170%;
    color: #494949;
}

.background1 {
    background-color: #FFFAEF;
}

.nav-item {
    width: 160px !important;
    height: 70px !important;
    background: #FFFFFF !important;
    border: 1px solid #DECFAE !important;
    box-sizing: border-box !important;
}

.nav-link {
    width: 160px !important;
    height: 70px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    background: #FFFAEF !important;
    color: #222222 !important;
    text-align: center !important;
    align-content: center !important;
    padding: 1.2rem 1rem !important;
}

.nav-link:hover {
    background: #FFFFFF !important;
}

.upwork-hover-css {
    filter: drop-shadow(0px 18px 19px rgba(216, 174, 107, 0.36));
}

.upwork-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.upwork-paragraph {
    border-left: 3px solid #D31D0B;
    background: #FFF5DC;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 170%;
    color: #494949;
}

.upwork-h3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    color: #222222;
}

li {
    color: #B4853B;
}

t {
    color: #494949;
}

.upwork-photos {
    max-width: 597px;
    background: #FFF7EB;
    border: 1px solid #D8AE6B;
    box-sizing: border-box;
}

.experience-div {
    background: #FFFFFF;
}

.experience-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.experience-paragraph {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176.2%;
    text-align: center;
    color: #535353;
    max-height: 56px;
}

.search-engine-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}

.search-engine-para-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
}

.search-engine-para-date {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #959595;
}

.search-engine-para-text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #222222;
}

.search-engine-list-title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #222222;
}

.education-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.education-degree {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}

.education-school {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
}

.education-year {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #868686;
}

.education-grade {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #222222;
}

.contact-section {
    background: white;
}

.contact-us-div {
    max-width: 1300px;
    background: #FFFAEF;
    border: 1px solid #D8AE6B;
    box-sizing: border-box;
    border-radius: 16px;
}

.contact-with-me {
    margin-top: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
    text-align: center;
    align-items: center;
}

.contact-information {
    margin-left: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.contact-name {
    margin-top: 30px;
    margin-left: 135px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}

.contact-text-simple {
    margin-left: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #222222;
}

.icon-anchor {
    color: #fff !important;
    text-decoration: none !important;
}

.skill-image {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.skill-tab-title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    color: #222222;
}

.skill-section {
    background: #FFFFFF;
    max-height: 920px;
}

.skill-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    color: #222222;
}

.skill-box {
    max-width: 1320px;
    background: #FFFAEF;
    border: 1px solid #DECFAE;
    box-sizing: border-box;
}

.skill-panel {
    max-width: 1320px;
    border: 1px solid #DECFAE;
    box-sizing: border-box;
}

.skill-list-section {
    width: 950px;
}

.inlineList ul {
    display: inline-block !important;
}

.get-touch {
    background: #111111;
    opacity: 0.9;
}

.send-query {
    background: #F9C648;
    opacity: 0.9;
}

.get-touch-hTag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 141.4%;
    color: #FFFFFF;
    max-width: 443px;
    margin-top: 110px;
}

.get-touch-pTag {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 175.4%;
    color: #FFFFFF;
}

.send-query-hTag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110.1%;
    color: #323232;
    margin-left: 105px;
}

.send-query-pTag {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 175.4%;
    color: #323232;
    margin-left: 105px;
}

.needs-validation {
    margin-left: 98px;
    margin-right: 80px;
}

.footer-div {
    background: #171715;
}

.footer-logo-section {
    margin-top: 100px;
    margin-left: 150px;
}

.footer-paragraph {
    margin-top: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 157.1%;
    color: #EFEFEF;
}

.footer-btn {
    background: linear-gradient(0deg, #E92816, #E92816), #9903FF;
    border-radius: 0px 10px 10px 0px;
    color: white;
}

.input-group>.form-control {
    background: #F9F8FF !important;
    height: 62px !important;
}

.footerHtag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 188.2%;
    color: #FFFFFF;
}

.footerPtag {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.4%;
    color: #EFEFEF;
}

.footer-contact-section {
    margin-left: 210px;
    max-width: 300px;
}


/* override Css Image Corousal */

.mycarousel {
    width: 80%;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
    border: 2px solid #fff;
}


/* Owl Carousel */

.owl-prev {
    background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
    height: 54px;
    position: absolute;
    top: 50%;
    width: 27px;
    z-index: 1000;
    left: 2%;
    cursor: pointer;
    color: transparent;
    margin-top: -27px;
}

.owl-next {
    background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
    height: 54px;
    position: absolute;
    top: 50%;
    width: 27px;
    z-index: 1000;
    right: 2%;
    cursor: pointer;
    color: transparent;
    margin-top: -27px;
}

.owl-prev:hover,
.owl-next:hover {
    opacity: 0.5;
}


/* Owl Carousel */


/* Popup Text */

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}

.popuptext {
    display: table;
}

.popuptext p {
    margin-bottom: 10px;
}

.popuptext span {
    font-weight: bold;
    float: right;
}


/* Popup Text */


/* Icon CSS */

.item {
    position: relative;
}

.item i {
    display: none;
    font-size: 4rem;
    color: #FFF;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.item a {
    display: block;
    width: 100%;
}

.item a:hover:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.item a:hover i {
    display: block;
    z-index: 2;
}


/* end overrisde Css Image Corousal */